<div class="products">
  <h1 class="mb-3 bd-text-purple-bright">Products</h1>
  <div class="card-group">
    <div *ngFor="let product of products" class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          {{ product.name }}
          <span class="text-muted">{{ product.price | currency }}</span>
        </h5>
        <p class="card-text">{{ product.description }}</p>
        <button class="btn btn-primary">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
